body {
    background-image: url('/images/background6.png');
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}
